.hero {
  min-height: 100vh;
  background: url('./man-website-layout-negative-space.jpg') no-repeat;
  background-size: cover;
}

.hero-content {
  text-align: left;
  padding: 40vh 0 0 11vw;
  color: rgb(255, 204, 0);
}

.hero-content h1 {
  font-weight: bold;
}
